---
layout: thread
title: Should we allow monopolies over research and education?
description: Fewer and fewer companies control academic publishing leading to higher prices, less innovation, and worrying impacts for privacy and diversity. While digital markets tend towards monopolies, it doesn't have to be this way.
permalink: /market-consolidation
---
<!-- set the below to whatever you want and it'll generate a list -->
{% for post in site.tags.market-consolidation %}
{% include thread-contents.html %}
{% endfor %}
