---
layout: post # You generally won't want to change this.
title: "Test Report" # This is the title that'll appear on the page and on Google
category: test-report # Categories are reports. Use the file name (minus the .md)
tags: # Tags are topics. Use the file name (minus the .md)
description: "Test report"
permalink: /test-report # This is the link it'll show up at.
pdf: 

# RARELY USED
hidden: true # exclude a post/page from pagination
date: 2019-03-29 03:00:00 # This date will override the date in the file name. Mainly we use it to handle ordering in reports / threads. The date can be the day the report was published, and the time can be used to sort posts.
authors: 
  - sparc

featured: true # This will make it turn up at the top of threads
homepage_latest: true # This will add it to the homepage’s "Latest Analysis" section 

# FOR LINK ONLY POSTS
# link: https://sparcopen.org/news/2020/qa-cengage-mcgraw-hill-merger-one-year-and-counting/ # If you're doing a link only post, put the link here. Otherwise, delete this.
# reading-time: 5 mins read # This manually sets the reading time on link only posts. If you are doing a link-only post delete this.
