<section class="infobox infobox--authors">
  <h2>About the authors</h2>
  <article>
    <h3>Claudio Aspesi</h3>
    <p>
      A respected market analyst with more than a decade of experience covering the academic publishing market, and previous leadership roles at Sanford C. Bernstein, McKinsey, and EMI Music.
    </p>
  </article>
  <article>
    <h3>SPARC</h3>
    <p>
      For two decades SPARC has catalyzed an open system for research and education on behalf of 240+ academic and research libraries in the U.S. and Canada, with sister organizations in Europe, Africa and Japan.
    </p>
  </article>
  <p>
    <a href="{{ site.BASE_PATH }}/about" class="button button--cta">About us</a>
  </p>
</section>
