<section class="infobox infobox--authors">
  <h2>About the authors</h2>
  <p><strong>Claudio Aspesi</strong></p>
    <p>
      A respected market analyst with more than a decade of experience covering the academic publishing market, and previous leadership roles at Sanford C. Bernstein, McKinsey, and EMI Music.
    </p>
  <p><strong>SPARC</strong><p>
    <p>
    For two decades SPARC has catalyzed an open system for research and education on behalf of 240+ academic and research libraries in the U.S. and Canada, with sister organizations in Europe, Africa and Japan.
  </p>
  <p>
    <a href="#" class="button button--cta">About us</a>
  </p>
</section>
