<li class="toc__featured">
  <article>
    <header>
      {% if thread_type == "tags" and post.category %}
      <p class="label">
        From the <a href="/{{ post.category }}">{{ post.category | replace: '-',' ' | upcase }}</a> report &mdash; {% include post-date.html %}
      </p>
      {% endif %}
      <h4>
        <a {% if post.link %}href="{{ post.link }}" target="_blank" rel="noopener"{% else %}href="{{ post.permalink }}"{% endif %} class="toc__link">
          {{ post.title }}{% if post.link %} {% include svg/arrow-northeast.svg %}{% endif %}
        </a>
      </h4>
      <p class="metadata">
        {% include post-readtime.html %}
      </p>
    </header>
    <p class="col col--5of6 col--group toc__featured-desc">
      {{ post.description }}
    </p>
  </article>
</li>
