{% assign thread = page.permalink | remove: "/" %}
{% if page.reversed %}
{% assign posts = site.tags.[thread] | reverse %}
{% else %}
{% assign posts = site.tags.[thread] %}
{% endif %}

{% for post in posts limit:1 %}
<!-- Featured / latest post -->
<li class="toc__featured">
  <div class="row">
    {% if post.category %}
    <p class="label">
      From the <a href="/{{ post.category }}">{{ post.category | replace: '-',' ' | upcase }}</a> report
    </p>
    {% endif %}
    <h4 class="col col--2of3 col--group">
      <a href="{{ post.permalink }}" class="toc__link">
        {{ post.title }}
      </a>
    </h4>
    <p class="col col--1of3 col--group metadata">
      {% include post-readtime.html %}
    </p>
  </div>
  <p class="col col--5of6 col--group toc__featured-desc">
    {{ post.description }}
  </p>
</li>
{% endfor %}

{% for post in posts offset:2 %}
<!-- Rest of ToC -->
<li class="row">
  <div class="col col--group col--1of3">
    <h4>
      <a href="{{ post.permalink }}" class="toc__link">
        {{ post.title }}
      </a>
    </h4>
    <p class="metadata">
      {% include post-readtime.html %}
    </p>
  </div>
  <div class="col col--group col--2of3">
    {% if post.category %}
    <p class="metadata">From the <a href="/{{ post.category }}">{{ post.category | replace: '-',' ' | upcase }}</a> report</p>
    {% endif %}
    <p>{{ post.description }}</p>
  </div>
</li>
{% endfor  %}
