{% assign thread = page.permalink | remove: "/" %}

{% if page.name contains "report-" %}
  {% assign thread_type = "categories" %}
{% else %}
  {% assign thread_type = "tags" %}
{% endif %}

{% if page.name == "latest.html" %}
  {% assign posts = site.posts %}
{% elsif page.reversed %}
  {% assign posts = site.[thread_type].[thread] | reverse %}
{% else %}
  {% assign posts = site.[thread_type].[thread] %}
{% endif %}

{% for post in posts limit:1 %}
<!-- Featured / latest post -->
<li class="toc__featured">
  <article>
    <header>
      {% if thread_type == "tags" and post.category %}
      <p class="label">
        From the <a href="/{{ post.category }}">{{ post.category | replace: '-',' ' | upcase }}</a> report &mdash; {% include post-date.html %}
      </p>
      {% endif %}
      <h4>
        <a {% if post.link %}href="{{ post.link }}" target="_blank" rel="noopener"{% else %}href="{{ post.permalink }}"{% endif %} class="toc__link">
          {{ post.title }}{% if post.link %} {% include svg/arrow-northeast.svg %}{% endif %}
        </a>
      </h4>
      <p class="metadata">
        {% if post.link %}
          {{ post.reading-time }}
        {% else %}
          {% include post-readtime.html %}
        {% endif %}      </p>
    </header>
    <p class="col col--5of6 col--group toc__featured-desc">
      {{ post.description }}
    </p>
  </article>
</li>
{% endfor %}

<!-- Rest of ToC -->
{% for post in posts offset:1 %}
<li class="toc__item">
  <article class="row">
    <header class="col col--group col--1of3">
      <h4>
        <a href="{{ post.permalink }}" class="toc__link">
          {{ post.title }}
        </a>
      </h4>
      <p class="metadata">
        {% include post-readtime.html %}
      </p>
    </header>
    <div class="col col--group col--2of3">
      {% if post.description %}
      <p>{{ post.description }}</p>
      {% endif %}

      {% if thread_type == "tags" and post.category %}
      <p class="metadata">From the <a href="/{{ post.category }}">{{ post.category | replace: '-',' ' | upcase }}</a> report. <br/>Published on {% include post-date.html %}</p>
      {% endif %}
    </div>
  </article>
</li>
{% endfor  %}
