/* Buttons */

button,
.button {
  display: inline-block;
  padding: $spacing-02;
  cursor: pointer;
  border: 2px solid $red;
  background-color: transparent;
  color: $red;
  transition: all 150ms ease-in;
  text-decoration: none;
  @include typescale-06;
  @include font-sans;

  &:hover,
  &:active,
  &:focus {
    background-color: $red;
    color: $white;
  }
}

.button--cta {
  background-color: $red;
  color: $white;

  &:hover,
  &:active,
  &:focus {
    border-color: $black;
    background-color: $black;
    color: $white;
  }
}
