.pagination {
  display: flex;
  color: $grey;
  line-height: 1.15;
  @include typescale-06;

  a {
    text-decoration: none;
  }

  svg {
    width: 15px;
    height: auto;
  }

  &__prev {
    flex-grow: 1;
  }

  &__next {
    flex-grow: 1;
    text-align: right;
  }
}
