.portrait {
  display: inline-block;
  position: relative;
  margin: 0 $spacing-04 $spacing-04 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}
