.subscribe-box {
  margin-top: $spacing-05;
  padding: $spacing-04;
  background-color: rgba($light-grey, 0.35);
  text-align: center;
  @include typescale-06;
  @include font-sans;

  h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1em;
  }

  &__links {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}
