.subscribe-box {
  margin-top: $spacing-04;
  padding: $spacing-04;
  background-color: rgba($light-grey, 0.15);
  @include font-sans;

  h2 {
    font-weight: 600;
    font-size: 1em;
  }

  &__links {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
