@media print {

  .page-sidebar {
    position: relative;
    color: $black;

    a, .label a {
      color: $black;
    }
  }

  .page-content {
    position: relative;

    p, li, blockquote {
      position: relative;
      display: block;
      page-break-inside: avoid;
    }
  }

  .post .page-content,
  .page-footer {
    margin-top: $spacing-03;
  }

  .anchorjs-link,
  .pagination,
  .page-sidebar-aside,
  .post__summary,
  .post__read-time,
  .sr-only {
    display: none;
  }
}
