@media print {
  body {
    overflow: visible
  }

  .page-sidebar {
    color: $black;

    a, .label a {
      color: $black;
    }
  }

  .post .page-content,
  .page-footer {
    margin-top: $spacing-03;
  }

  .anchorjs-link,
  .pagination,
  .page-sidebar-aside {
    display: none;
  }
}
