<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="homepage">
  <!-- Page header as cover page -->
  <header class="row cover">
    <div class="col col--1of2 cover__heading">
      <h1 class="cover__title">
        {{ page.title }} <br/>
        <span class="cover__tagline">{{ page.tagline }}</span>
      </h1>
      <div class="cover__logo">
        {% include svg/logo.svg %}
      </div>
    </div>

    <div class="col col--1of2 cover__content">
      {{ page.content }}
    </div>
  </header>

  <main id="main">
    <section class="row">
      <header class="col">
        <h3 class="label"><small>Reports</small></h3>
        <h4>Guide your institution by understanding</h4>
      </header>

      <article class="col col--1of3">
        <h4>The Landscape Analysis</h4>
        <footer>
          <p>What’s changing?</p>
          <section>
            <h5>Full Report</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
            <h5>Executive Summary</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
          </section>
        </footer>
      </article>

      <article class="col col--1of3">
        <h4>The Roadmap for Action</h4>
        <footer>
          <p>How can we respond?</p>
          <section>
            <h5>Full Report</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
            <h5>Executive Summary</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
          </section>
        </footer>
      </article>

      <article class="col col--1of3">
        <h4>The 2020 Update</h4>
        <footer>
          <p>What’s the situation today?</p>
          <section>
            <h5>Full Report</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
            <h5>Executive Summary</h5>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">PDF</a></li>
            </ul>
          </section>
        </footer>
      </article>
    </section>

    <section class="row">
      <h3 class="col">Get actionable insights on key topics</h3>

      <nav class="col col--1of2">
        <h4 class="label">Interventions to make today</h4>
        <ul>
          <li>
            <a href="">Risk Mitigation</a>
          </li>
          <li>
            <a href="">Strategic Choices</a>
          </li>
          <li>
            <a href="">Community Actions</a>
          </li>
        </ul>
      </nav>

      <aside class="col col--group col--1of2">
        <figure></figure>
        <blockquote>
          <p>As research and grey data become an increasingly integral part of how institutions operate, there is a great risk of losing control of this data if not tracked and managed across the often distributed operating architecture of higher education institutions.</p>
          <footer>&mdash; Some Name, <cite>Some Institution</cite></footer>
        </blockquote>
      </aside>

      <nav class="col col--1of2">
        <h4 class="label">The Companies</h4>
        <ul>
          <li>
            <a href="">Elsevier</a>
          </li>
          <li>
            <a href="">Wiley</a>
          </li>
          <li>
            <a href="">Springer Nature</a>
          </li>
          <li>
            <a href="">Clarivate</a>
          </li>
          <li>
            <a href="">Pearson</a>
          </li>
          <li>
            <a href="">McGraw-Hill Education</a>
          </li>
          <li>
            <a href="">Cengage</a>
          </li>
        </ul>
      </nav>

      <nav class="col col--1of2">
        <h4 class="label">The Underlying Challenges</h4>
        <ul>
          <li>
            <a href="">Terms & Conditions</a>
          </li>
          <li>
            <a href="">Market Consolidation</a>
          </li>
          <li>
            <a href="">Data Management</a>
          </li>
          <li>
            <a href="">Responsible Analytics</a>
          </li>
          <li>
            <a href="">Market Analysis</a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="row row--centered">
      <figure class="col col--1of6"></figure>
      <blockquote class="col col--1of2">
        <p>Our leadership is increasingly concerned about letting black box tools drive decisions for how we run our institution. These reports have been an essential in helping educate us and guide our thinking on how to seize the benefits, and while managing the risks, of the increasing prevalence of digital tools and data analytics.</p>
        <footer>&mdash; Some Name, <cite>Some Institution</cite></footer>
      </blockquote>
    </section>

    <section class="row">
      <h3 class="col label">Latest Analysis</h3>
      <ol class="col">
        <li>
          <h4>June 21st 2020</h4>
          <p>Conduct a Data Inventory</p>
        </li>
        <li>
          <h4>May 13th 2020</h4>
          <p>The Dutch Consortia/Elsevier Contract: The Real Risks</p>
        </li>
        <li>
          <h4>May 2nd 2020</h4>
          <p>In pursuit of open science, open access is not enough</p>
        </li>
      </ol>
    </section>

    <aside class="row">
      <h3 class="col col--1of3">As highlighted by</h3>
      <ul class="col col--2of3">
        <li>
          <img src="" alt=""/>
        </li>
        <li>
          <img src="" alt=""/>
        </li>
        <li>
          <img src="" alt=""/>
        </li>
        <li>
          <img src="" alt=""/>
        </li>
        <li>
          <img src="" alt=""/>
        </li>
        <li>
          <img src="" alt=""/>
        </li>
      </ul>
    </aside>

    <section class="row">
      <h3 class="col label">About</h3>

      <article class="row col col--1of2">
        <h4 class="col col--group col--1of3">Claudio Aspesi</h4>
        <p class="col col--group col--2of3">A respected market analyst with over a decade of experience covering the academic publishing market, and leadership roles at Sanford C. Bernstein, and McKinsey.</p>
      </article>

      <article class="row col col--1of2">
        <h4 class="col col--group col--1of3">SPARC</h4>
        <p class="col col--group col--2of3">SPARC is a coalition of academic and research libraries that work to enable the open sharing of research outputs and educational materials in order to democratize access to knowledge, accelerate discovery, and increase the return on our investment in research and education.</p>
      </article>
    </section>

    {% include footer.html %}

    </main>

    {% include analytics.html %}
  </body>

</html>
