<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="post">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/#main" class="page-sidebar__home">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          From the <em><a href="/{{ page.category }}">{{ page.category | replace: '-',' ' }}</a></em> report
        </p>
        <h1>{{ page.title }}</h1>
        <p class="post__summary">{{ page.description }}</p>
        <p class="post__read-time">
          {% assign words = page.content | number_of_words %}
          {% if words < 360 %}
            <em>1 min read</em>
          {% else %}
            <em>{{ words | divided_by:180 }} mins read</em>
          {% endif %}
        </p>
      </header>

      <div class="col col--3of6 page-sidebar-content">
        <article class="page-content">
          {{ page.content }}
        </article>

        <nav class="row pagination">
          <div class="col col--1of2 col--group pagination__prev">
            {% if page.previous.url %}
            <a href="{{ site.BASE_PATH }}{{ page.previous.url }}">
              {% include svg/arrow-left.svg %}
              {{ page.previous.title }}
            </a>
            {% endif %}
          </div>

          <div class="col col--1of2 col--group pagination__next">
            {% if page.next.url %}
            <a href="{{ site.BASE_PATH }}{{ page.next.url }}">
              {{ page.next.title }}
              {% include svg/arrow-right.svg %}
            </a>
            {% endif %}
          </div>
        </nav>

        {% include subscribe-box.html %}

        {% include footer.html %}
      </div>

      <aside class="col col--1of6 page-sidebar-aside">
        <button id="print-btn" onClick="window.print()">Print or download</button>
        {% if page.tags.size > 0 %}
        <h2>Related</h2>
        <ul class="tags">
          {% for tag in page.tags %}
          <li class="tag"><a href="../{{ tag }}">{{ tag | replace: '-',' '}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </aside>
    </main>
    {% include analytics.html %}
  </body>

</html>
