<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="post">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/" class="page-sidebar__home">{% include svg/bookmark.svg %}</a>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </header>

      <div class="col col--2of3">
        <article class="page-content">
          <h2>Contents</h2>
          {{ page.content }}
        </article>

        {% include footer.html %}
      </div>

    </main>
  </body>

</html>
