<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="thread">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/#main" class="page-sidebar__home">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          {% if page.name contains "report-" %}
          Report
          {% elsif page.name == "latest.html" %}

          {% else %}
          Topic
          {% endif %}
        </p>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>

      </header>

      <div class="col col--2of3 page-sidebar-content">
        <section class="page-content">
          <h2>
            {% if page.name contains "report-" %}
            Table of Contents
            {% else %}
            Contents
            {% endif %}
          </h2>
          <ul class="toc toc--with-feature col--group">
            {% include thread-toc.html %}
          </ul>
        </section>

        {% include footer.html %}
      </div>

    </main>
  {% include analytics.html %}
  </body>

</html>
