<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="thread">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/#main" class="page-sidebar__home">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          {% if page.name contains "report-" %}
          Report<br/>
          <time datetime="{{ page.date | date: '%F' }}">
            {{ page.date | date: "%b %e, %Y" }}
          </time>
          {% elsif page.name == "latest.html" %}

          {% else %}
          Topic
          {% endif %}
        </p>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </header>

      <div class="col col--2of3 page-sidebar-content">
        <section class="page-content">
          <h2>
            {% if page.name contains "report-" %}
            Table of Contents
            {% else %}
            Contents
            {% endif %}
          </h2>
          {% if page.pdf %}
          <a href="{{ page.pdf }}" class="button button--cta" download>
            Download
          </a>
          {% endif %}

          {% if page.name contains "report-" %}
            <a href="#citationContent" class="button accordion-toggle">Cite this report</a>
            {% include citation.html class="accordion__content" id="citationContent"%}
          {% endif %}

          <ul class="toc toc--with-feature col--group">
            {% include thread-toc.html %}
          </ul>
        </section>

        {% include footer.html %}
      </div>

    </main>
  {% include analytics.html %}
  </body>

</html>
