<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="thread">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/#main" class="page-sidebar__home">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          Report
        </p>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>

      </header>

      <div class="col col--2of3 page-sidebar-content">
        <article class="page-content">
          <h2>
            Table of Contents
          </h2>
          <ul class="toc col--group">
            {{ page.content }}
          </ul>
        </article>

        {% include footer.html %}
      </div>

    </main>
  </body>

</html>
