.page-sidebar {
  background: $black;
  color: $white;

  @media (min-width: 768px) {
    min-height: 100vh;
  }

  @media (min-width: 1200px) {
    position: fixed;
    left: 0;
  }

  h1 {
    margin-top: 0;
  }

  .label a {
    color: $white;
  }

  &__home {
    display: block;
    margin-bottom: $spacing-04;

    svg {
      fill: transparent;
      transition: fill 250ms ease;

      &:hover, &:focus, &:active {
        fill: $white;
      }
    }
  }
}

.page-sidebar-content {
  @media (min-width: 768px) {
    margin-left: 33.3333333%;
  }
}

.page-sidebar-aside {
  @include typescale-06;

  h2 {
    margin-top: $spacing-04;
    padding-top: $spacing-03;
    border-top: 1px solid $black;
    font-size: 1em;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    position: fixed;
    right: 0;
    margin: $spacing-05 0;
  }
}
