/* General styles */

html {
  scroll-behavior: smooth;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

body {
  color: $black;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  @include font-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: $spacing-04 0;
  line-height: 1;
  font-weight: 300;
  @include font-sans;
}

h1 {
  margin: $spacing-04 0 $spacing-05;
  @include typescale-01;
}

h2 {
  @include typescale-02;
}

h3 {
  @include typescale-03;
}

h4 {
  @include typescale-04;
}

h5 {
  @include typescale-05;
}

h6, small {
  @include typescale-06;
}

p, blockquote {
  margin: 0 0 $spacing-04 0;
}

ul, ol {
  padding-left: $spacing-04;

  ul, ol {
    margin-left: $spacing-03;
  }

  li {
    line-height: 1.5;
  }
}

pre, code {
  @include font-monospace;
  @include typescale-06;
}

pre {
  padding: $spacing-02;
}

code {
  background: $light-grey;
}

a {
  text-decoration: underline;
  color: $black;

  &:hover,
  &:focus,
  &:active {
    color: $red;
    text-decoration: none;
  }
}

section {
  padding: $spacing-04 0;
}

section aside {
  border-left: 1px dashed $red;
}

blockquote {
  padding-left: 1.5em;
  border-left: 1px dashed $red;
  font-style: italic;

  em, i {
    font-style: normal;
  }
}

hr {
  margin: $spacing-05 0;
  border: 0;
  height: 1px;
  background-color: rgba($grey, 0.5);
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  margin-bottom: $spacing-04;
  padding: $spacing-02;
  width: 100%;
  border: 1px dashed $red;
}

time {
  font-size: smaller;
}

table {
  margin-bottom: $spacing-04;
  width: 100%;

  thead {
    text-align: left;
    color: $grey;
    @include typescale-06;
  }

  tr {
    border-bottom: 1px solid rgba($grey, 0.25);

    &:last-child {
      border: 0;
    }
  }

  th, td {
    vertical-align: top;
    padding: $spacing-03 $spacing-02;

    &:first-child {
      padding-left: 0;
    }
  }

  th {
    text-align: left;
    font-weight: 400;
    color: $grey;
    @include typescale-06;
  }

  td:last-child {
    width: 50%;
  }
}

::placeholder {
  font-style: italic;
  color: rgba($grey, 0.5);
}

aside {
  color: $red;

  a {
    color: $white;
  }
}
