/* Variables for colour palette */

// Main palette

$red:           #D92C35;
$black:         #1F2222;
$grey:          #353535;
$light-grey:    #E8E8E8;
$white:         #FFF;


// Gold, silver, bronze
$gold:          #D6AF36;
$silver:        #A7A7AD;
$bronze:        #A77044;
