/* Mixins for typescale in major third
   Use with headings and text only
   Base unit: 20px */

@mixin typescale-01 {
  font-size: 3.052em;
}

@mixin typescale-02 {
  font-size: 2.441em;
}

@mixin typescale-03 {
  font-size: 1.953em;
}

@mixin typescale-04 {
  font-size: 1.563em;
}

@mixin typescale-05 {
  font-size: 1.25em;
}

@mixin typescale-06 {
  font-size: 0.8em;
}
